---
---

// Breakpoints
$large-breakpoint: 80em; //Custom
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

//Default theme
@import "{{ site.theme }}";

//Override default
h1 {
  margin-top: 0 !important;
}

h2 {
  margin-top: 0.5em !important;
}

//Navigation menu
#nav
{
	width: 12em;
	position: fixed;
	top: 0.5em;
	right: 0.5em;
}

//Menu button
#nav > a
{
	display: none;
	width: 2em;
	height: 2em;
	text-align: left;
	text-indent: -9999px;
	background-color: #5fab9a;
	position: relative;
	left: 10em;
}

//Menu button lines
	#nav > a:before,
			#nav > a:after //First line
			{
				position: absolute;
				border: 2px solid #fff;
				top: 35%;
				left: 25%;
				right: 25%;
				content: '';
			}
			#nav > a:after
			{
				top: 60%; //Second line
			}

		#nav:not( :target ) > a:first-of-type,
		#nav:target > a:last-of-type
		{
			display: block;
		}

//Menu Item
#nav li
{
	position: relative;
}
	#nav li a
	{
		color: #fff; //Text color
		display: block;
	}
	#nav li a:active
	{
		background-color: #6dc5b2 !important; //Selected item
	}

//Menu first level
#nav > ul
{
	background-color: #5fab9a;
	list-style: none;
	height: auto;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	padding-left: 0.6em;
}
	#nav:target > ul
	{
		display: block;
	}
		
	#nav > ul > li
	{
		height: 100%;
		width: 100%;
		float: none;
	}
		#nav > ul > li > a
		{
			font-size: 1em;
			line-height: 1.7em;
			height: auto;
			text-align: right;
			padding: 0 0.6em 0 0.6em;
		}
			#nav > ul > li:not( :last-child ) > a
			{
				border-right: none;
				border-bottom: 1px solid #6dc5b2;
			}
			#nav > ul > li:hover > a,
			#nav > ul:not( :hover ) > li.active > a
			{
				background-color: #6dc5b2;
			}

@include small {
  #nav
  {
    width: 12em;
    font-size: 1.2em;
    position: fixed;
    top: 1em;
    right: 0.5em;
  }

  #nav > a
  {
    width: 3em;
    height: 3em;
  }

  #nav > a {
    left: 9em;
  }
}

//Small text
.stext {
  @include large {
    margin-top: 0.5em;
    margin-left: 20px;
    font-size: 0.6em;
  }

  @include medium {
    margin-top: 0.5em;
    margin-left: 15px;
    font-size: 0.6em;
  }

  @include small {
    margin-top: 0.5em;
    margin-left: 10px;
    font-size: 0.5em;
  }
}

//Index text
.index-text a {
  color: #e24a4a !important;
}

//Nano logo
.logo {
  @include large {
    position: absolute;
    top: 0;
    right: 10px;
  }

  @include medium {
    position: absolute;
    top: 0;
    right: 10px;
  }

  @include small {
    padding: 0;
    margin: 0;
  }
}

//First header plus logo
.firstHeader {
  @include large {
    position: relative;
    height: 75px;
    line-height: 75px;
  }

  @include medium {
    position: relative;
    height: 75px;
    line-height: 75px;
  }

  @include small {
    
  }
}

//Intro text
.intro {
  @include small {
    font-size: 0.9em;
  }
}

table {
  @include large {
    font-size: 0.8em; //Custom
    margin-left: 20px; //Custom
  }

  @include medium {
    font-size: 0.7em; //Custom
    margin-left: 15px; //Custom
  }

  @include small {
    font-size: 0.5em; //Custom
    margin-left: 10; //Custom
  }
}

th, td {
  @include large {
    padding: 8px 20px !important;
  }

  @include medium {
    padding: 4px 8px !important;
  }

  @include small {
    padding: 4px 4px !important;
  }
}

//Default header
.page-header {
  @include large {
    padding: 2rem 6rem; //custom
  }

  @include medium {
    padding: 2rem 4rem; //custom
  }

  @include small {
    padding: 2rem 1rem;
  }
}

//Line section break
.line {
  width: 90%;
  height: 1px;
  background-color: #89b1da;
  margin-top: 1em;
  display:inline-block;
}
