---
---

// Breakpoints
$large-breakpoint: 80rem; //Custom
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

//Default theme
@import "{{ site.theme }}";

//Override default
h1 {
  margin-top: 0 !important;
}

h2 {
  margin-top: 0.5em !important;
}

h3 {
  margin-top: 0.5em !important;
}

h4 {
  margin-top: 0.5em !important;
  padding-left: 0.5em !important;
}

/* Menu */
#dropdown {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    width: 13em;
    z-index: 999;
}

/* Menu button */
#dropbtn {
  top: 0;
  right: 0;
  width: 2.5em;
  height: 1.9em;
  background-color: #5fab9a;
  opacity:0.95;
  cursor: pointer;
  position: relative;
  left: 10.5em;
  padding-top: 0.5em;
  border-radius: 0.2em;
}

#dropbtn a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

/* Button lines (hamburger) */
#dropbtn span
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 0.25em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  background: #eee;
  border-radius: 0.125em;
  z-index: 2;
}

/* Menu main container including top margin */
#dropdown-container {
    display: block;
    visibility: hidden;
    position: absolute;
    min-width: 13em;
    z-index: 1;
}

/* Menu content */
#dropdown-content {
    display: block;
    padding: 0;
    margin-top: 0.5em !important;
    background-color: #5fab9a;
    opacity:0.95;
    border-radius: 0.2em;
}

/* No list bullets or padding*/ 
#dropdown-content ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

  /* Line between items*/
  #dropdown-content > ul > li:not( :last-child ) > a
  {
    border-right: none;
    border-bottom: 1px solid #6dc5b2;
  }

#dropdown-content a {
    float: none;
    color: #eee;
    padding: 0.6em 0.5em;
    text-decoration: none;
    display: block;
    text-align: right;
    text-size: 0.9em;
}

#dropdown-content a:hover {
    background-color: #6dc5b2;
    border-radius: 0.2em;
}

#dropdown-container:hover {
    visibility: visible;
}

#dropbtn:hover {
    /*background-color: #6dc5b2;*/
}

/* Show dropdown */
#dropbtn:hover + #dropdown-container {
    visibility: visible;
}

.main-content {
  @include large {
    max-width: 80rem !important;
  }
}

//Small text
.stext {
  @include large {
    margin-top: 0.5em;
    margin-left: 20px;
    font-size: 0.6em;
  }

  @include medium {
    margin-top: 0.5em;
    margin-left: 15px;
    font-size: 0.6em;
  }

  @include small {
    margin-top: 0.5em;
    margin-left: 10px;
    font-size: 0.5em;
  }
}

//Image subtitle
.subtext {
  margin-top: 0 !important;
  padding: 0 !important;
  @include large {
    font-size: 0.6em;
  }

  @include medium {
    font-size: 0.6em;
  }

  @include small {
    font-size: 0.5em;
  }
}

//QR Image
#qrImage {
  margin: 0 !important;
  padding: 0 !important;
}

figure {
  @include large {
    margin: 0.5em 20px !important;
  }

  @include medium {
    margin: 0.5em 15px !important;
  }

  @include small {
    margin: 0.5em 10px !important;
  }
}

//Index text
.index-text a {
  color: #e24a4a !important;
}

//Nano logo
#logo {
  z-index: -999;
  @include large {
    position: absolute;
    top: 0;
    right: 10px;
  }

  @include medium {
    position: absolute;
    top: 0;
    right: 10px;
  }

  @include small {
    padding: 0;
    margin: 0;
  }
}

//First header plus logo
#firstHeader {
  @include large {
    position: relative;
    height: 75px;
    line-height: 75px;
  }

  @include medium {
    position: relative;
    height: 75px;
    line-height: 75px;
  }

  @include small {
    
  }
}

//Intro text
.intro {
  @include small {
    font-size: 0.9em;
  }
}

table {
  @include large {
    font-size: 0.8em; //Custom
    margin-left: 20px; //Custom
  }

  @include medium {
    font-size: 0.7em; //Custom
    margin-left: 15px; //Custom
  }

  @include small {
    font-size: 0.5em; //Custom
    margin-left: 10; //Custom
  }
}

th, td {
  @include large {
    padding: 8px 20px !important;
  }

  @include medium {
    padding: 4px 8px !important;
  }

  @include small {
    padding: 4px 4px !important;
  }
}

//Default header
.page-header {
  @include large {
    padding: 2rem 6rem; //custom
  }

  @include medium {
    padding: 2rem 4rem; //custom
  }

  @include small {
    padding: 2rem 1rem;
  }
}

//Line section break
.line {
  width: 90%;
  height: 1px;
  background-color: #89b1da;
  margin-top: 1em;
  display:inline-block;
}
