---
---

// Breakpoints
$large-breakpoint: 80em; //Custom
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

//Default theme
@import "{{ site.theme }}";

//Override default
h1 {
  margin-top: 0 !important;
}

h2 {
  margin-top: 0 !important;
  text-decoration: underline !important;
}

h3 {
  margin-top: 0 !important;
  margin-left: 0.5em !important;
}

h4 {
  margin-top: 0 !important;
  margin-left: 1em !important;
}

h5 {
  margin-top: 0 !important;
  margin-left: 1.5em !important;
}

ul {
  margin-left: 0.5em !important;
}

/* Top buttons, increased contrast */
.btn {
  background-color: rgba(255,255,255,0.1) !important;
  border-color: rgba(255,255,255,0.3) !important;
  color: rgba(255,255,255,0.7) !important;
}

.btn:hover {
  background-color: rgba(255,255,255,0.25) !important;
  border-color: rgba(255,255,255,0.4) !important;
  color: rgba(255,255,255,0.85) !important;
}

/* Content buttons */
.site-btn {
  text-decoration: none !important;
  color: #ffffff;
  border-color: transparent;
  background-color: #4a90e2;
  box-shadow: none;
  padding: 0.4em 1em;
  width: 260px;
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: inline-block;

  &:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: #f9ae42;
    box-shadow: none;
  }
  
  &:focus {
    outline:0;
  }
}

/* No underline in H2 tagline */
.project-tagline {
  text-decoration: none !important; 
}

/* Arrange divs depending of screen size */
@include large {
  #div-left {
    float : left !important;
    width : 48% !important;
    margin: 0 !important;
  }
  #div-right {
    float : right !important;
    width : 48% !important;
    margin: 0 !important;
  }
  #div-full {
    width : auto;
    margin: 0 !important;
  }
}

@include medium {
  #div-left, #div-right {
    float: none;
    width: auto;
  }  
}

@include small {
  #div-left, #div-right {
    float: none;
    width: auto;
  }
}

/* Collapsible div */
.collapse-content {
  display: none;
}

/* Hidden quick help section */
.help {
  display: none;
  margin-left: 1.5em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  padding-top: 5px;
  padding-right: 5px;
  width: 80%;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
}

#help-select {
  margin-bottom: 0.8em;
  margin-left: 1.5em;
  color: #000034;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
  border-color: #e24a4a !important;
}

#help-select:focus {
  outline: none;
}

/* Link colors */
.int-link {
  color: #e24a4a !important;
}

/* Menu */
#dropdown {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    width: 13em;
    z-index: 999;
}

/* Menu button */
#dropbtn {
  top: 0;
  right: 0;
  width: 2.5em;
  height: 1.9em;
  background-color: #5fab9a;
  opacity:0.95;
  cursor: pointer;
  position: relative;
  left: 10.5em;
  padding-top: 0.5em;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
}

#dropbtn a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

/* Button lines (hamburger) */
#dropbtn span
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 0.25em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  background: #eee;
  border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
}

/* Menu main container including top margin */
#dropdown-container {
    display: none;
    /*visibility: hidden;*/
    position: absolute;
    min-width: 13em;
    z-index: 1;
}

/* Menu content */
#dropdown-content {
    display: block;
    padding: 0;
    margin-top: 0.5em !important;
    background-color: #5fab9a;
    opacity:0.95;
    border-radius: 0.2em;
}

/* No list bullets or padding*/ 
#dropdown-content ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

  /* Line between items*/
  #dropdown-content > ul > li:not( :last-child ) > a
  {
    border-right: none;
    border-bottom: 1px solid #6dc5b2;
  }

#dropdown-content a {
    float: none;
    color: #eee;
    padding: 0.6em 0.5em;
    text-decoration: none;
    display: block;
    text-align: right;
    text-size: 0.9em;
}

#dropdown-content a:hover {
    background-color: #6dc5b2;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
}

#dropdown-container:hover {
    /*visibility: visible;*/
}

#dropbtn:hover {
    /*background-color: #6dc5b2;*/
}

/* Show dropdown on hover (need to click twice on touch first time)*/
#dropbtn:hover + #dropdown-container {
    /*visibility: visible;*/
}

.main-content {
  @include large {
    max-width: 90em !important;
    padding: 0 2em !important;
  }
}

//Small text under table
.stext {
  @include large {
    margin-top: 0.5em;
    margin-left: 20px;
    font-size: 0.6em;
  }

  @include medium {
    margin-top: 0.5em;
    margin-left: 15px;
    font-size: 0.6em;
  }

  @include small {
    margin-top: 0.5em;
    margin-left: 10px;
    font-size: 0.5em;
  }
}

//Small text in table
.stext2 {
  margin-left: 5px;
  font-size: 0.7em;
}

//Image subtitle
.subtext {
  margin-top: 0 !important;
  padding: 0 !important;
  @include large {
    font-size: 0.6em;
  }

  @include medium {
    font-size: 0.6em;
  }

  @include small {
    font-size: 0.5em;
  }
}

//QR Image
#qrImage {
  margin: 0 !important;
  padding: 0 !important;
}

figure {
  @include large {
    margin: 0.5em 20px !important;
  }

  @include medium {
    margin: 0.5em 15px !important;
  }

  @include small {
    margin: 0.5em 10px !important;
  }
}

//Nano logos
.part-logo {
  display: none;
}

.logo {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  width: 90%;
  max-width: 60rem !important;
  padding-top: 0;
}

//Logo container
.first-header {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 0;
}

//Bottom logo
#bottom-logo {
  margin-top: 1em;
  margin-bottom: 0;
  width: 50%;
  padding-top: 0;
}

//Intro text
.intro {
  @include small {
    font-size: 0.9em;
  }
}

#intro-table {
  @include large {
    font-size: 0.8em; //Custom
    margin-left: 20px; //Custom
  }

  @include medium {
    font-size: 0.7em; //Custom
    margin-left: 15px; //Custom
  }

  @include small {
    font-size: 0.5em; //Custom
    margin-left: 10px; //Custom
  }
}

//Paragraph in first section
.first-para {
  @include large {
    margin-left: 20px; //Custom
  }

  @include medium {
    margin-left: 15px; //Custom
  }

  @include small {
    margin-left: 10px; //Custom
  }
}

#intro-table th, #intro-table td {
  @include large {
    padding: 8px 20px !important;
  }

  @include medium {
    padding: 4px 8px !important;
  }

  @include small {
    padding: 4px 4px !important;
  }
}

//Default header
.page-header {
  @include large {
    padding: 2rem 6rem; //custom
  }

  @include medium {
    padding: 2rem 4rem; //custom
  }

  @include small {
    padding: 2rem 1rem;
  }
}

//List items spacing
li {
  margin-top: 0.4em;
}

//Line section break
.line {
  width: 100%;
  height: 1px;
  background-color: #89b1da;
  margin-top: 1em;
  display:inline-block;
}

//Hide certain lines on large screen (divs in two columns)
@include large {
  .line-small {
    display:none !important;
  }
}

//Contact submit form
#contact-area {
  width: 100%;
  margin-top: 20px;
  font-size: 0.8em;
  margin-left: 1em;
}

#contact-area input, #contact-area textarea {
  padding: 3px;
  width: 90%;
  max-width: 900px;
  margin: 0px 0px 15px 0px;
  border: 2px solid #ccc;
}

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #57707d;
}

#contact-area .submit-button {
  width: 150px;
  float: left;
}

#contact-area label {
  float: left;
  text-align: left;
  margin-right: 10px;
  width: 150px;
  padding-top: 3px;
}
