---
---

// Breakpoints
$large-breakpoint: 80em; //Custom
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

//Default theme
@import "{{ site.theme }}";

//Override default
h1 {
  margin-top: 0 !important;
}

h2 {
  margin-top: 0.5em !important;
}

//Small text
.stext {
  @include large {
    margin-top: 0.5em;
    margin-left: 20px;
    font-size: 0.6em;
  }

  @include medium {
    margin-top: 0.5em;
    margin-left: 15px;
    font-size: 0.6em;
  }

  @include small {
    margin-top: 0.5em;
    margin-left: 10px;
    font-size: 0.5em;
  }
}

//Index text
.index-text a {
  color: #e24a4a !important;
}

//Nano logo
.logo {
  @include large {
    position: absolute;
    top: 0;
    right: 10px;
  }

  @include medium {
    position: absolute;
    top: 0;
    right: 10px;
  }

  @include small {
    padding: 0;
    margin: 0;
  }
}

//First header plus logo
.firstHeader {
  @include large {
    position: relative;
    height: 75px;
    line-height: 75px;
  }

  @include medium {
    position: relative;
    height: 75px;
    line-height: 75px;
  }

  @include small {
    
  }
}

//Intro text
.intro {
  @include small {
    font-size: 0.9em;
  }
}

table {
  @include large {
    font-size: 0.8em; //Custom
    margin-left: 20px; //Custom
  }

  @include medium {
    font-size: 0.7em; //Custom
    margin-left: 10px; //Custom
  }

  @include small {
    font-size: 0.5em; //Custom
    margin-left: 0; //Custom
  }
}

th, td {
  @include large {
    padding: 8px 20px !important;
  }

  @include medium {
    padding: 4px 8px !important;
  }

  @include small {
    padding: 4px 4px !important;
  }
}

//Default header
.page-header {
  @include large {
    padding: 2rem 6rem; //custom
  }

  @include medium {
    padding: 2rem 4rem; //custom
  }

  @include small {
    padding: 2rem 1rem;
  }
}

//Line section break
.line {
  width: 90%;
  height: 1px;
  background-color: #89b1da;
  margin-top: 1em;
  display:inline-block;
}
