---
---

// Breakpoints
$large-breakpoint: 75em !default;
$medium-breakpoint: 42em !default;

@import "{{ site.theme }}";
.stext {
  margin-top: 0.5em;
  margin-left: 20px;
  font-size: 0.6em;
}

table {
  font-size: 0.8em;
  margin-left: 20px;
}

.page-header {

  @include large {
    padding: 2rem 6rem;
  }

  @include medium {
    padding: 2rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
