---
---

// Breakpoints
$large-breakpoint: 80em; //Custom
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

//Default theme
@import "{{ site.theme }}";

//Small text
.stext {
  margin-top: 0.5em;
  margin-left: 20px;
  font-size: 0.6em;
}

//Index text
.index-text a {
  color: #e24a4a !important;
}

//Nano logo
.logo {
  position: absolute;
  top: 0;
  right: 10px;
}

.firstHeader {
  position: relative;
  height: 75px;
  line-height: 75px;
}

table {
  font-size: 0.8em; //Custom
  margin-left: 20px; //Custom
}

.page-header {
  @include large {
    padding: 2rem 6rem; //custom
  }

  @include medium {
    padding: 2rem 4rem; //custom
  }

  @include small {
    padding: 2rem 1rem;
  }
}

//Line section break
.line {
  width: 90%;
  height: 2px;
  background-color: #15747c;
  margin-top: 1em;
  display:inline-block;
}
