---
---
// Background
$background: "../../src/d.jpg";

// Breakpoints
$large-breakpoint: 80em; //Custom
$medium-breakpoint: 42em;

// Header colors (no longer used)
$header-heading-color: #fff;
$header-bg-color: rgba(74,144,226,0.8);
$header-bg-color-secondary: rgba(74,144,226,0.8);

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #1e6bb8;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

// Nano colors
$select-background: #f9ae42;
$light-blue: #4a90e2;
$dark-blue: #000034;
$common-red: #e24a4a;
$common-red-light: #e36767;

$button-height: 2.8em;
$blur-amount: 20px;

//Default theme
@import "{{ site.theme }}";

//Override default
//Default header
.page-header {
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: rgba(0,0,0,0) !important;
  background-image: none !important;
  border-bottom: 2px solid rgba(103, 102, 134, 0.8);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
  
  @include large {
    padding: 1rem 6rem 2rem 6rem; //custom
  }

  @include medium {
    padding: 1rem 4rem 2rem 4rem; //custom
  }

  @include small {
    padding: 1rem 1rem 2rem 1rem;
  }
}

/* Header title centered */
#head-line {
  display: table;
  z-index: 10 !important;
  margin-left: auto;
  margin-right: auto;
  
  @include large {
    height: 75px;
  }
  @include medium {
    height: 70px;
  }
  @include small {
    height: 60px;
  }
}

#head-logo {
  vertical-align: middle;
  
  @include large {
    height: 60px;
  }
  @include medium {
    height: 55px;
  }
  @include small {
    height: 45px;
  }
}

/* Title text */
.project-name {
  font-family: Nunito !important;
  font-style: normal !important;
  font-variant: small-caps !important;
  font-weight: 700 !important;
  text-align: center;
  color: #fff !important;
  display: table-cell;
  vertical-align: middle;
  
  @include large {
    line-height: 3.7rem !important;
    font-size: 3.7rem !important;
  }
  @include medium {
    line-height: 3.1rem !important;
    font-size: 3.1rem !important;
  }
  @include small {
    line-height: 2.7rem !important;
    font-size: 2.7rem !important;
  }
}

/* Fix vertical alignment for logo*/
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Header description */
.project-tagline {
  text-align: center;
  z-index: 10 !important;
  text-decoration: none !important; /* No underline in H2 tagline */
  opacity: 0.95;
  color: #fff !important;
}

h1 {
  margin-top: 0 !important;
  z-index: 10 !important;
}

h2 {
  margin-top: 0 !important;
  text-decoration: underline !important;
}

h3 {
  margin-top: 0 !important;
  margin-left: 0.5em !important;
}

h4 {
  margin-top: 0 !important;
  margin-left: 1em !important;
}

h5 {
  margin-top: 0 !important;
  margin-left: 1.5em !important;
}

ul {
  margin-left: 0.5em !important;
}

/* Main background (fix for iOS not scaling background image correct) */
html:after {
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url(#{$background}) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Divs containing links */
.link-content {
  z-index: 10;
  width: 100%;
}

/* Divs containing header info */
.header-content {
  z-index: 10 !important;
  width: 100%;
}

/* White transparent overlay */
.overlay {
  background: rgba(241, 246, 255, 0.9);
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* White transparent header overlay */
.overlay-header {
  background-image: linear-gradient(180deg, rgba(74, 144, 226, 0.9), rgba(192, 211, 233, 0.9));
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Header buttons */
.btn {
  font-size: 1rem !important;
  text-decoration: none !important;
  color: #ffffff !important;
  border-color: transparent !important;
  background-color: $light-blue !important;
  box-shadow: none !important;
  padding: 0.4em 1em !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s !important;
  height: $button-height;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0 !important;

  &:hover {
    border-color: transparent !important;
    color: #ffffff !important;
    background-color: $select-background !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }
  
  &:focus {
    outline:0 !important;
  }
}

/* Content buttons */
.site-btn {
  font-size: 1rem !important;
  text-decoration: none !important;
  color: #ffffff;
  border-color: transparent;
  background-color: $light-blue;
  box-shadow: none;
  padding: 0.4em 1em;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: inline-flex;
  align-items: center;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s;
  height: $button-height;

  &:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: $select-background;
    box-shadow: none;
    text-decoration: none;
  }
  
  &:focus {
    outline:0;
  }
}

.site-btn-space {
  margin-bottom: 10px; 
}

.search-btn {
  padding-left: 10px !important;
  padding-right: 10px !important;
  
  @include small {
    width:50px;
  }
  
  font-size: 1rem !important;
  text-decoration: none !important;
  color: #ffffff !important;
  border-color: transparent !important;
  background-color: $light-blue !important;
  box-shadow: none !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 0px !important;
  -webkit-border-top-right-radius: 6px !important;
  -webkit-border-top-left-radius: 0px !important;
  -webkit-border-bottom-right-radius: 6px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-topright: 6px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-bottomright: 6px !important;
  -moz-border-radius-bottomleft: 0px !important;
  transition: color 0.1s, background-color 0.1s, border-color 0.1s !important;
  display: inline-flex;
  align-items: center;
  margin: 0 !important;
  height: 100%;

  &:hover {
    border-color: transparent !important;
    color: #ffffff !important;
    background-color: $select-background !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }
  
  &:focus {
    outline:0 !important;
  }
}

.btn-wide {
  width: 260px;
}

/* Arrange divs depending of screen size */
@include large {
  .div-left {
    float : left !important;
    width : 48% !important;
    margin: 0 !important;
  }
  .div-right {
    float : right !important;
    width : 48% !important;
    margin: 0 !important;
  }
  .div-compact {
    width: 80% !important;
  }
}

@include medium {
  .div-left, .div-right {
    float: none;
    width: auto;
  }
  .div-compact {
    width: auto !important;
  }
}

@include small {
  .div-left, .div-right {
    float: none;
    width: auto;
  }
  .div-compact {
    width: auto !important;
  }
}

/* Standard panel div with frame */
.div-full {
  width: auto;
  margin: 1em auto 1.5em auto !important;
  padding: 1.5em 2em 1.5em 2em;
  border: 2px solid rgba(103, 102, 134, 0.8);
  overflow: hidden;
  position: relative;
  display: flex;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  
  @include small {
    padding: 1em 1em 1em 1em; 
  }
}

.first-div-full {
  padding: 0.5em 2em 1em 2em;
}

//Collapse button
.collapse {
  z-index: 10;
  @include large {
    position: absolute;
    top: 65px;
  }
  @include medium {
    position: absolute;
    top: 65px;
  }
}

/* Collapsible div */
.collapse-content {
  display: none;
  margin-top: 1em;
}

//Visible content to activate if no javascript
.noscript {
  display: none;
  z-index: 10;
  width: 100%;
  padding: 0 !important;
  margin: 0 0 0.5em 0 !important;
  color: $common-red;
}

/* Hidden quick help section */
.help {
  display: none;
  margin-left: 1.5em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  padding-top: 5px;
  padding-right: 5px;
  width: 80%;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}

#help-select {
  margin-left: 1.5em;
  color: $dark-blue;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
  border-radius: 6px !important;
  border-color: $common-red !important;
  
  @include large {
    margin-bottom: 0.8em;
  }
  
  @include medium {
    margin-bottom: 2em;
  }
  
  @include small {
    margin-bottom: 2em;
  }
}

#help-select:focus {
  outline: none;
}

/* Link colors */
.int-link {
  color: $common-red !important;
}

.main-content {
  @include large {
    max-width: 90em !important;
    padding: 0.5rem 3rem !important;
  }
  
  @include medium {
    padding: 1rem 3rem !important;
  }
  
  @include small {
    padding: 1rem 0rem !important;
  }
}

//Small text under table
.stext {
  @include large {
    margin-top: 0.5em;
    margin-left: 20px;
    font-size: 0.6em;
  }

  @include medium {
    margin-top: 0.5em;
    margin-left: 15px;
    font-size: 0.6em;
  }

  @include small {
    margin-top: 0.5em;
    margin-left: 10px;
    font-size: 0.5em;
  }
}

//Small text in table
.stext2 {
  margin-left: 5px;
  font-size: 0.7em;
}

//Image subtitle
.subtext {
  margin-top: 0 !important;
  padding: 0 !important;
  @include large {
    font-size: 0.6em;
  }

  @include medium {
    font-size: 0.6em;
  }

  @include small {
    font-size: 0.5em;
  }
}

//QR Image
#qrImage {
  margin: 0 !important;
  padding: 0 !important;
}

figure {
  @include large {
    margin: 0.5em 20px !important;
  }

  @include medium {
    margin: 0.5em 15px !important;
  }

  @include small {
    margin: 0.5em 10px !important;
  }
}

#logo {
  margin: 0 0;
  padding-top: 0;
  float: right;
  height: 90px;
  
  @include small {
    display: none;
    height: 0px;
  }
}

#logo-news {
  margin: 0 0;
  height: 90px;
  padding-top: 0;
  
  @include small {
    display: none;
  }
}

//News intro text
.news-intro {
  padding-right: 50px;
}

//Logo containers
.first-header, .first-header-news {
  margin-top: 0;
  margin-bottom: 0;
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 0;
}

//Logo container main
.first-header {
  height: 90px;
  @include small {
    height: 0; 
  }
}

//Logo container news
.first-header-news {
  display: flex;
}

//Bottom logo
#bottom-logo {
  margin-top: 1em;
  margin-bottom: 0;
  width: 50%;
  padding-top: 0;
}

//Intro text
.intro {
  @include small {
    font-size: 0.9em;
  }
}

#intro-table {
  @include large {
    font-size: 0.8em; //Custom
    margin-left: 20px; //Custom
  }

  @include medium {
    font-size: 0.7em; //Custom
    margin-left: 15px; //Custom
  }

  @include small {
    font-size: 0.5em; //Custom
    margin-left: 10px; //Custom
  }
}

//Paragraph in first section
.first-para {
  @include large {
    margin-left: 20px; //Custom
  }

  @include medium {
    margin-left: 15px; //Custom
  }

  @include small {
    margin-left: 10px; //Custom
  }
}

#intro-table th, #intro-table td {
  @include large {
    padding: 8px 20px !important;
  }

  @include medium {
    padding: 4px 8px !important;
  }

  @include small {
    padding: 4px 4px !important;
  }
}

//List items spacing
li {
  margin-top: 0.4em;
}

//Line section break
.line {
  width: 100%;
  height: 1px;
  background-color: #89b1da;
  margin-top: 1em;
  display:inline-block;
}

//Hide certain lines on large screen (divs in two columns)
@include large {
  .line-small {
    display:none !important;
  }
}

/* Contact submit form */
#contact-area {
  width: 100%;
  margin-top: 20px;
  font-size: 0.8em;
  margin-left: 1em;
}

#contact-area input, #contact-area textarea {
  padding: 3px;
  width: 90%;
  max-width: 900px;
  margin: 0px 0px 15px 0px;
  border: 2px solid #ccc;
}

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #57707d;
}

#contact-area .submit-button {
  width: 150px;
  float: left;
}

#contact-area label {
  float: left;
  text-align: left;
  margin-right: 10px;
  width: 150px;
  padding-top: 3px;
}

/* Search function */
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; color: $body-link-color;}
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: $dark-blue; }
.autocomplete-group { margin-top: 10px; padding: 2px 5px; font-weight: bold; font-size: 1.2em; color: $section-headings-color; display: block; border-bottom: 1px solid $section-headings-color; }

.search-div {
  display: inline-flex;
  height: $button-height;
  
  @include large {
    width: 450px;
    margin-left: 1em;
    margin-right: 1em;
  }
  @include medium {
    width:80%;
    margin-top: 0.8em;
    margin-left: 0;
    margin-right: 0;
  }
  @include small {
    width:100%;
    margin-top: 0.8em;
    margin-left: 0;
    margin-right: 0;
  }
}

.search-box,.close-icon,.search-wrapper {
  position: relative;
}
.search-wrapper {
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.search-box {
  width: 100%;
  height: $button-height;
  outline: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-width: 2px;
  color: $body-text-color;
  padding: 0 0.5em;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 6px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 6px !important;
  -webkit-border-top-right-radius: 0px !important;
  -webkit-border-top-left-radius: 6px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -webkit-border-bottom-left-radius: 6px !important;
  -moz-border-radius-topright: 0px !important;
  -moz-border-radius-topleft: 6px !important;
  -moz-border-radius-bottomright: 0px !important;
  -moz-border-radius-bottomleft: 6px !important;
}

.search-box::-ms-clear {
    display: none;
}

.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: calc(#{$button-height} / 2);
}

.close-icon:after {
  content: "X";
  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: 700 !important;
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 11px;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

/* Menu */
#dropdown {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    width: 13em;
    z-index: 999;
}

/* Menu button */
#dropbtn {
  top: 0;
  right: 0;
  width: 2em;
  height: 1.8em;
  background-color: $common-red-light;
  opacity:1;
  cursor: pointer;
  position: relative;
  left: 11em;
  padding-top: 0.47em;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
}

#dropbtn a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

/* Button lines (hamburger) */
#dropbtn span
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 0.2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  margin-bottom: 0.37em;
  background: #fff;
  border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  -moz-border-radius: 0.1em;
  -ms-border-radius: 0.1em;
  -o-border-radius: 0.1em;
}

/* Menu main container including top margin */
#dropdown-container {
    display: none;
    /*visibility: hidden;*/
    position: absolute;
    min-width: 13em;
    z-index: 1;
}

/* Menu content */
#dropdown-content {
    display: block;
    padding: 0;
    margin-top: 0.5em !important;
    background-color: $light-blue;
    opacity:0.95;
    border-radius: 0.2em;
    border: 2px solid #6dc5b2;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}

/* No list bullets or padding*/ 
#dropdown-content ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 0 !important;
}

  #dropdown-content > ul > li {
    margin: 0 0 0 0 !important;
  }

  /* Line between items*/
  #dropdown-content > ul > li:not( :last-child ) > a
  {
    border-right: none;
    border-bottom: 1px solid #6dc5b2;
  }

#dropdown-content a {
    float: none;
    color: #fff;
    padding: 0.6em 0.5em;
    text-decoration: none;
    display: block;
    text-align: right;
    text-size: 0.9em;
    transition: background-color 0.1s;
}

#dropdown-content a:hover {
    background-color: $select-background;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}

#dropdown-container:hover {
    /*visibility: visible;*/
}

#dropbtn:hover {
    /*background-color: #6dc5b2;*/
}

/* Show dropdown on hover (need to click twice on touch first time)*/
#dropbtn:hover + #dropdown-container {
    /*visibility: visible;*/
}
